.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  font-weight: 200;
}

.App h1 {
  font-size: 50px;
  font-weight: 500;
  font-family: 'Patrick Hand', cursive;
  margin-top: 5px;
  margin-bottom: 10px;
  /*font-family: 'Indie Flower', cursive;*/
}

.App h2 {
  font-size: 24px;
  font-weight: 400;
  opacity: 0.8;
  text-align: center;
}

.arrowup svg {
  color: #f76c6c;
  height: 80px;
  width: 80px;
}

.arrowdown svg {
  color: #f76c6c;
  height: 80px;
  width: 80px;
}

button {
  background-color: #f76c6c;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  padding: 10px;
}

button:hover {
  background-color: #fa8989;
}

button:active {
  background-color: #ee5151;
}

.Content {
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content: center;
  justify-content: space-evenly;
  color: lightgrey;
  font-size: 20px;
}

.Controller {
  height: max-content;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0% 1% 1%;
  background-color: #A8D0E6;
  box-shadow: 0 0 20px black;
}

.Shelterinfo {
  width: 20%;
  min-width: 130px;
  margin: 1%;
}

p {
  text-align: left;
}

.Todaycats ul {
  display: inline-block;
  width: 50%;
}

.Todaycats li {
  text-align: left;
}

.Todaycats {
  width: 20%;
  min-width: 130px;
  max-width: 200px;
  margin: 1%;
}

.Todaycats h3 {
  margin-top: 4px;
}

.Todaycats img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 900px) {
  .Content {
    flex-wrap: wrap;
  }

  .Todaycats {
    order: 2;
  }

  .Controller {
    order: 1;
  }

  .Shelterinfo { 
    order: 3; 
    width: 40%;
  }
}
