.Controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.Controls button {
  width: 100px;
  height: 100px;
  margin: 10px;
  margin-left: 55px;
  margin-right: 55px;
}

.Controls .left {
  background-image: url(../img/ControllerArrowAlpha.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 70px;
  height: 70px;
  transform: rotate(-90deg);
}

.Controls .right {
  background-image: url(../img/ControllerArrowAlpha.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 70px;
  height: 70px;
  transform: rotate(90deg);
}

.Controls .forward {
  background-image: url(../img/ControllerArrowAlpha.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 70px;
  height: 70px;
}

.Controls .backward {
  background-image: url(../img/ControllerArrowAlpha.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 70px;
  height: 70px;
  transform: rotate(180deg);
}

button:disabled {
  background-color: #4e6c7c;
  cursor: not-allowed;
  opacity: 0.2;
}

button:disabled:hover {
  background-color: #4e6c7c;
  opacity: 0.2;
  cursor: not-allowed;
}

.leftright {
  display: flex;
  flex-direction: row;
}

