.FeedOverlay {
  font-size: 16px;
}

.live {
  color: red;
  position: absolute;
  left: 30px;
  top: 20px;    
}

.queue {
  color: #ffff;
  position: relative;
  padding: 10px;
  padding-left:20px;
  text-align: left;
}
