.mainvid {
    width: 100%;
    height: auto;
    max-width: 65vh;
    max-height: 48vh
}

.cornervid {
    width: 35%;
    height: auto;
    max-width: 35vh;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 2px solid #A8D0E6;
}
