.Welcome {
    color: #24305E;
    max-width: 850px;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.Welcome p {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
}